{% extends "basic/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Сотрудничество{% endblock meta_title %}

{% block content %}

      <h1 align="center">Работать с нами ВЫГОДНО и НАДЕЖНО:</h1>

      <span class="lead">

        <p>Работая с нами, Вы получаете прямой контракт с ПРОИЗВОДИТЕЛЕМ.</p>

        <p>Для Вас это значит:</p>

        <ul>
            <li>цены ниже относительно цен компаний – перепродавцов, присутствующих на рынке;</li>
            <li>качество. Мы гарантируем Вам заявленные параметры упаковочных лент, а также соответствие длин намоток;</li>
            <li>параметры и количество, заявленные в счетах на оплату, всегда соответствуют реальным параметрам и количеству поставленного товара. Мы гарантируем возврат денег в случае если «вдруг» Вы сможете обнаружить какую-либо недостачу.</li>
        </ul>       
      </span>

{% endblock content %}
