{% extends "basic/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Продукция{% endblock meta_title %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                На официальном сайте компании РеалПак представлены товары только самого высокого качества: упаковочная пленка, джамбо – рулоны, пузырчатая пленка, различные виды скотча и стрейча. В условиях динамично растущего спроса на данный вид продукции, мы стараемся постоянно расширять свой ассортимент, чтобы обеспечить украинского потребителя широким выбором лучших упаковочных материалов. Сотрудники компании РеалПак всегда к вашим услугам: они с удовольствием ответят на все вопросы, предоставят необходимые образцы и помогут принять окончательное решение относительно покупки оптимального для вас варианта упаковочной продукции. Аккуратность, ответственность и индивидуальный подход к каждому покупателю - вот основные принципы нашей работы. С РеалПак ваш бизнес будет процветать и «крепко и надёжно упакован»! Мы предлагаем своим клиентам самые современные упаковочные материалы оптом по самым выгодным ценам.
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <img src="{% static "img/skotch.jpg" %}" width="340" height="180">
            <p>
                <strong>Скотч</strong> – наиболее популярная в нашей стране упаковочная клейкая лента. Благодаря своей прочности и универсальным свойствам, скотч широко используется в торговле, промышленности и быту. В Украине трудно встретить компанию или дом, в котором не обнаружилось бы хоть одного рулона скотча. Этот упаковочный материал состоит из полипропиленовой пленки или специальной ткани (прозрачных или цветных), на которые нанесен слой клея. Мы предлагаем своим клиентам купить скотч самого высокого качества. У нас вы можете найти скотч упаковочный различной ширины, цвета и предназначения. Мы можем предложить вам купить отличный скотч упаковочный оптом по выгодной цене. А также мы можем предоставить скотч с нанесением любого нужного вам рисунка или надписи. На современном рынке использовать скотч с логотипом компании стараются все стабильные и уверенные в себе фирмы.
            </p>
            <p>Технические характеристики клейкой ленты скотч:</p>
            <p>Материал: полипропилен (ВОРР) с клеевым слоем.</p>
            <p>Клеевой слой акрил/каучук.</p>
            <p>Ширина скотча мм.: 24,45,48,72 а также не стандартные ширина 100,200,300,400,500.</p>
            <p>Длина ярд/м.: от 10 до 990.</p>
            <p>Толщина мкм.: 38,40,45.</p>
            <p>Цвет: прозрачный, коричневый, цветной, с логотипом.</p>
        </div>

        <div class="col-md-4">
            <img src="{% static "img/streych.jpg" %}" width="340" height="180" border="12">
            <p>
                <strong>Стрейч (стретч) пленка</strong> – это универсальный материал для упаковки, прозрачный и эластичный. Стрейч пленка одинаково подходит как для упаковки пищевых продуктов, так и для упаковки всевозможных товаров любого размера и предназначения. У нас вы можете купить оптом стрейч пленку, которая защитит ваши вещи от повреждений, возможных при транспортировке. Она прочна, устойчива к перепадам температур, хорошо тянется и возвращается в исходное состояние и позволяет делать упаковку максимально плотной и надежной. Как показывает практика,стрейч пленка подходит для упаковки не только обычных грузов: упаковочная пленка максимальной толщины (23 мкм) позволяет упаковать и перевозить очень тяжелые грузы (например, строительные материалы). Качественная cтрейч пленка от производителя РеалПак не оставит липких следов на вашем товаре и защитит его от загрязнений. А также есть в наличии Стрейч пленка с добавкой вторичного сырья.
            </p> 

            <p>Технические характеристики стрейч пленки:</p>
            <p>Материал: ЛПЭНП (линейный полиэтилен низкой плотности)</p>
            <p>Ширина мм.: 100,250,500</p>
            <p>Длина м.: от 50 до 1500.</p>
            <p>Толщина мкм.: 8,10,12,15,17,20,23.</p>
            <p>Цвет: прозрачный, серый, чёрный.</p>
        </div>

        <div class="col-md-4">
            <img src="{% static "img/signal.jpg" %}" width="340" height="180">
            <p>
                <strong>Сигнальная лента</strong> – Визуальное ограждение обеспечивает заострения внимания потенциальных нарушителей. Неклейкая лента без адгезива применяется для временного ограждения вне и для постоянного внутри помещений. Лента ограждения может быть привязана или прибита к столбам, забора или металлического ограждения.
            </p>
            <p>Материал: полиэтилен</p>
            <p>Толщина: 40 мкм</p>
            <p>Состав: полиэтилен без клейкого слоя.</p>
        </div>
    </div>

{% endblock content %}
